/.generateMultiService.java._trace
/.generateServicesSpark.java._trace
/.generateSimpleService.java._trace
/.generateMultiService.xtendbin
/.generateServicesSpark.xtendbin
/.generateSimpleService.xtendbin
/generateMultiService.java
/generateServicesSpark.java
/generateSimpleService.java
