/.generateArtifactClass.java._trace
/.generateEntityClass.java._trace
/.generateMain.java._trace
/.generateArtifactClass.xtendbin
/.generateEntityClass.xtendbin
/.generateMain.xtendbin
/generateArtifactClass.java
/generateEntityClass.java
/generateMain.java
