/.generateBasicSpark.java._trace
/.generateBasicCodes.java._trace
/.generateBasicParam.java._trace
/.generateBasicCodes.xtendbin
/.generateBasicParam.xtendbin
/.generateBasicSpark.xtendbin
/generateBasicCodes.java
/generateBasicParam.java
/generateBasicSpark.java
