/.RulesGenerator.java._trace
/.generateUtils.java._trace
/.packages.java._trace
/.RulesGenerator.xtendbin
/.generateUtils.xtendbin
/.packages.xtendbin
/RulesGenerator.java
/generateUtils.java
/packages.java
