<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="mdeNatureBuilder"
         name="Mde Nature Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="miso.carrascal.mdenature.builder.MdeNatureBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="mdeNature"
         name="Mde Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="miso.carrascal.mdenature.builder.MdeNature">
         </run>
      </runtime>
      <builder
            id="miso.carrascal.mdeNature.mdeNatureBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mde Nature commands"
            id="miso.carrascal.mdeNature.mdeNature.category">
      </category>
      <command
            name="Add/RemoveMde Nature"
            defaultHandler="miso.carrascal.mdenature.builder.AddRemoveMdeNatureHandler"
            categoryId="miso.carrascal.mdeNature.mdeNature.category"
            id="miso.carrascal.mdeNature.addRemoveMde Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="miso.carrascal.mdeNature.addRemoveMde Nature"
               label="Remove Mde Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="miso.carrascal.mdeNature.mdeNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="miso.carrascal.mdeNature.addRemoveMde Nature"
               label="Add Mde Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="miso.carrascal.mdeNature.mdeNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
