/.generateJson.java._trace
/.generateCustomDB.java._trace
/.generateCustomHtml.java._trace
/.generateCustomDB.xtendbin
/.generateCustomHtml.xtendbin
/.generateJson.xtendbin
/generateCustomDB.java
/generateCustomHtml.java
/generateJson.java
